
$primary-color-dark:#343434;
$primary-color-light:rgb(250, 250, 250);
$line:rgb(190, 190, 190);

$header-height:40px;
$header-mobile-height:60px;
$sub-padding-left:60px;

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

ul, li {
    list-style:none;
}

a{
    text-decoration:none;
    color:inherit;
}

.clearfix:after{
    content:'';
    display:block;
    clear:both;
}

html{
    opacity: 0;
}

body{
    font-family: "Montserrat", "S-CoreDream-4Regular";
    font-weight: 500;
    color:$primary-color-dark;
    background-color:$primary-color-light;
    background-image:url('../../img/bg.png');
    scroll-behavior: smooth;
    overflow:hidden;
}

.text-logo{
    transform:translate(-3px,0);
    display:inline-block;
    vertical-align:middle;

    h1{
        letter-spacing: -0.1rem;
        font-size:2rem;
        font-weight: 500;
    }
}

.header{
    height:$header-height;
    position:fixed;
    z-index:100;
    width:100%;
    background-color:$primary-color-light;
}

.nav{
    position:relative;
    display:inline-block;
    vertical-align: middle;

    &__item{
        margin-left:20px;
        position: relative;
    }

    &__item:before{
        content:'';
        display:inline-block;
        background-color:$primary-color-dark;
        position:absolute;
        height:0;
        width:100%;
        bottom:0;
        left:0;
        transition: height 0.2s ease-out;
        z-index:-1;
    }

    &__item-text{
        transition: color 0.2s ease-out;
    }

    &__item:hover:before{
        height:100%;
    }

    &__item:hover &__item-text{
        color:$primary-color-light;

    }
}

.intro-page{
    height:100vh;

    &__left-box{
        height:100%;
        width:50%;
        float:left;
        background-color:$primary-color-dark;
        canvas{
            display:block;
        }
    }

    &__right-box{
        height:100%;
        width:50%;
        float:right;
    }

    &__text{
        position:absolute;
        top:40%;
        left:50%;
        transform:translate(-50%,-50%);
    }
}

.intro-text{
    color:$primary-color-light;
    letter-spacing: -0.1rem;
    font-size:3rem;;
    text-shadow:1px 1px 0px rgba(0,0,0,0.5);
    margin-left:-0.2em;
    
    &__left{
        font-weight: 500;
        white-space:nowrap;
    }

    &__right{
        color:$primary-color-dark;
        white-space:nowrap;
        font-weight: 500;
        margin-left:0.3em;
        padding-bottom:1%;
        border-bottom:2px solid $primary-color-dark;
    }

    &__below{
        font-weight: 500;
        margin-top:-1vh;
        display:block;
        font-size:0.55em;
        letter-spacing: -0.11rem;
    }
}

.sub{
    height:100vh;
    padding-top:$header-height;
    overflow:auto;

    &:before{
        content:'';
        display:block;
        width:$sub-padding-left;
        height:100%;
        background-color:$primary-color-dark;
        position:absolute;
        z-index:-100;
        margin-top:-$header-height;
    }

    &__title{
        letter-spacing:1rem;
        font-size:4rem;
        // border-top:2px solid $primary-color-dark;
        font-weight: 500;
        margin-left:5px;
        width:80%;
        &-first-char{
            color:$primary-color-light;
        }
    }

    &__content-wraper{
        display:table;
        height:calc(100% - 200px);
    }

    &__content{
        display:table-cell;
        vertical-align:middle;
        padding-left:calc(20vw + #{$sub-padding-left} - 150px);
        padding-right:80px;
        box-sizing:border-box;
    }
}

.about{
    &__row1{
        width:100%;
        overflow:hidden;
    }

    &__photo{
        width:300px;
        float:left;
        border-radius:10px;
    }


    &__right{
        margin-left:300px;
        padding-left:50px;
    }

    &__top-text{
        font-weight: normal;
        padding-bottom:3px;
        border-bottom:2px solid $line;
        margin-top:50px;
        font-size:0.9rem;
        display:inline-block;
    }

    &__name{
        font-size:1.5rem;
        font-weight: bold;
        letter-spacing:0.5rem;
        margin-top:20px;
    }

    &__underline{
        width:40px;
        height:2px;
        margin-top:50px;
        background-color:$line;
    }

    &__contact-container{
        // width:100%;
        margin-top:150px;
    }

    &__url{
        float:left;
        width:60%;
        padding:30px 30px;
        border-right:1px solid $line;
    }

    &__sns{
        float:left;
        padding:30px 30px;
        width:30%;
    }

    &__row2{
        margin-top:30px;
    }

    &__detail{
        max-width:1200px;
    }
}

.dot-nav{
    position: fixed;
    right:calc(15% - 50px);
    // right:0;
    top:50%;
    transform:translate(0,-50%);
    &__dot{
        background-color:$primary-color-dark;
    }

    &__string{
        background-color:$primary-color-dark;
    }

    &__pointer{
        background-color:white;
    }
}

@media all and (max-width:860px){
    .intro-text{
        font-size:2rem;
    }

    .header{
        height:$header-mobile-height;
    }

    .header__container{
        position: absolute;
        top:50%;
        transform:translate(0,-50%);
    }

    .text-logo{
        transform:translate(0,0);
        h1{
            letter-spacing: -0.1rem;
            font-size:1.3rem;
            font-weight: 500;
        }
    }

    .nav__item{
        font-size:0.9rem;
    }


    .sub-title__text{
        font-size:2rem;
        letter-spacing: 0.5rem;
        text-shadow:1px 1px 0px rgba(0,0,0,0.5);
    }

    .sub-left-line{
        height:100%;
        width:30px;
        float:left;
        background-color:$primary-color-dark;
    }

}
