
// $primary-color-dark:#343434;
// $primary-color-light:rgb(249,249,249);

$primary-color-dark:#343434;
$primary-color-light:rgb(249, 249, 249);
$line:rgb(190, 190, 190);

// $primary-color-dark:#42A7F4;
// $primary-color-light:purple;


$header-height:40px;
$header-mobile-height:60px;

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

ul, li {
    list-style:none;
}

a{
    text-decoration:none;
    color:inherit;
}

.clearfix:after{
    content:'';
    display:block;
    clear:both;
}

html{
    font-size:16px;
    opacity: 0;
}

body{
    font-family: "Montserrat", "S-CoreDream-4Regular";
    // font-family: "GoyangDeogyang";
    
    font-weight: 500;
    color:$primary-color-dark;
    background-color:$primary-color-light;
    scroll-behavior: smooth;
    // width:100vw;
    overflow:hidden;

}

.text-logo{
    transform:translate(-3px,0);
    display:inline-block;
    vertical-align:middle;

    h1{
        letter-spacing: -0.1rem;
        font-size:2rem;
        font-weight: 500;
    }
}

.header{
    height:$header-height;
    position:fixed;
    z-index:100;
    width:100%;
    background-color:$primary-color-light;

}
.nav{
    display:inline-block;
    vertical-align: middle;

    &__item{
        margin-left:20px;
    }
}

.text-animation1{
    position:relative;

    &__background{
        background-color:$primary-color-dark;
        position:absolute;
        height:0;
        width:100%;
        bottom:0;
        left:0;
        transition: height 0.2s ease-out;
        z-index:-1;
    }

    &__text{
        transition: color 0.2s ease-out;
    }

    &:hover{
        .text-animation1{
            &__background{
                height:100%;
            }
            &__text{
                color:$primary-color-light;
            }       
        }
    }
}


.intro-page{
    height:100vh;

    &__left-box{
        height:100%;
        width:50%;
        float:left;
        background-color:$primary-color-dark;
        // canvas {
        //     width:100%;
        //     height:100vh;
        // }
    }

    &__right-box{
        height:100%;
        width:50%;
        float:right;
        background-image:url('../../img/main-page.jpg');
        background-size:cover;
        background-position:center center;
    }

    &__text{
        position:absolute;
        top:40%;
        left:50%;
        transform:translate(-50%,-50%);
    }
    
    canvas{
        display:block;
    }
}

.intro-text{
    color:$primary-color-light;
    letter-spacing: -0.1rem;
    font-size:3rem;;
    text-shadow:1px 1px 0px rgba(0,0,0,0.5);
    margin-left:-0.2em;
    
    &__left{
        font-weight: 500;
        white-space:nowrap;
    }

    &__right{
        color:$primary-color-dark;
        white-space:nowrap;
        font-weight: 500;
        margin-left:0.3em;
    }

    &__below{
        font-weight: 500;
        margin-top:-1vh;
        display:block;
        font-size:0.55em;
        letter-spacing: -0.11rem;
    }

    &__line{
        width:25vw;
        height:4px;
        position:absolute;
        left:50%;
        bottom:15%;
        background-color:$primary-color-dark;
    }
}


.sub{
    height:100vh;
    padding-top:$header-height;
    overflow:auto;
    // position:relative;
    // scroll


    &__left-line{
        height:calc(100% + #{$header-height});
        // padding-top:$height;
        // margin-bottom:
        margin-top:-$header-height;

        width:70px;
        float:left;
        background-color:$primary-color-dark;
    }
    
    &__content-wraper{
        display:table;
        padding-bottom:80px;
        box-sizing:border-box;
        height:calc(100% - 80px);
        // overflow:auto;
    }

    &__content{
        // position:absolute;
        margin-left:70px;
        padding-left:100px;
        padding-right:80px;
        margin-top:20px;
        // top:50%;
        // transform:translate(0,-50%);
        box-sizing:border-box;
        display:table-cell;
        vertical-align:middle;
        // overflow:auto;
        
    }


    &__title-line{
        height:2px;
        width:75%;
        background-color:$primary-color-dark;
    }

    &__title-text{
        letter-spacing:1rem;
        font-size:4rem;
        margin-left:-0.9em;
        display:inline-block;
        font-weight: 500;
    }

    &__first-char{
        color:$primary-color-light;
    }
}

.sub:after{
        content:'';
        clear:both;
        display:block;
}
.about{
    &__row1{
        width:100%;
        overflow:hidden;
    }

    &__photo{
        width:300px;
        float:left;
        border-radius:10px;
    }


    &__right{
        margin-left:300px;
        padding-left:50px;
    }

    &__top-text{
        font-weight: normal;
        padding-bottom:3px;
        border-bottom:2px solid $line;
        margin-top:50px;
        font-size:0.9rem;
        display:inline-block;
    }

    &__name{
        font-size:1.5rem;
        font-weight: bold;
        letter-spacing:0.5rem;
        margin-top:20px;
    }

    &__underline{
        width:40px;
        height:2px;
        margin-top:50px;
        background-color:$line;
    }

    &__contact-container{
        // width:100%;
        margin-top:150px;
    }

    &__url{
        float:left;
        width:60%;
        padding:30px 30px;
        border-right:1px solid $line;
    }

    &__sns{
        float:left;
        padding:30px 30px;
        width:30%;
    }

    &__row2{
        margin-top:30px;
    }

    &__detail{
        max-width:1000px;
    }
}

.dot-nav{
    position: fixed;
    right:calc(10% - 20px);
    // right:0;
    top:50%;
    transform:translate(0,-50%);
    &__dot{
        background-color:$primary-color-dark;
    }

    &__string{
        background-color:$primary-color-dark;
    }

    &__pointer{
        background-color:white;
    }
}

@media all and (max-width:860px){
    .intro-text{
        font-size:2rem;
    }

    .header{
        height:$header-mobile-height;
    }

    .header__container{
        position: absolute;
        top:50%;
        transform:translate(0,-50%);
    }

    .text-logo{
        transform:translate(0,0);
        h1{
            letter-spacing: -0.1rem;
            font-size:1.3rem;
            font-weight: 500;
        }
    }

    .nav__item{
        font-size:0.9rem;
    }


    .sub-title__text{
        font-size:2rem;
        letter-spacing: 0.5rem;
        text-shadow:1px 1px 0px rgba(0,0,0,0.5);
    }

    .sub-left-line{
        height:100%;
        width:30px;
        float:left;
        background-color:$primary-color-dark;
    }

}
