
.icon-help-circled-alt:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-forward:before { content: '\e802'; } /* '' */
.icon-firefox:before { content: '\e840'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-ie:before { content: '\e843'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-vkontakte-rect:before { content: '\f30a'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */